<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Mis cursos -</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="css/styles.css">-->
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <p>Agenda Escolar</p>
            </div>

            <nav>
                <a href="#">Cerrar Sesion</a>
                <a href="#">¿Que es Agenda Escolar?</a>
                <a href="#">Mi Perfil</a>
                <a href="./index.html">Inicio</a>
            </nav>
        </div>
    </header>

    <section id="hero">

        <h3>AGREGAR NOTA</h3>

        <div>
            <p>Estudiantes</p>
        </div>
        
        <section id="tabla-cursos">
            <% alumnos.forEach((alumno) => { %>
                <% console.log(alumno.nombre)%>
                <% console.log(alumno.apellido)%>
                <% console.log(alumno.id_usuario)%>

                <% if(alumno.rol == 'Estudiante' ) {%>
                    <button class="mostrar-info"><%= alumno.nombre + " " + alumno.apellido %></button>
                <% } %>
                
            <% }) %>
        </section>
    </section>

    <a href="/cursos-docente">VOLVER</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    
</body>
</html>