<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Agenda Escolar -</title>
    <!--<link rel="stylesheet" href="css/styles.css">-->

</head>
<body>

    <header>
        <div class="container">
            <div class="logo">
                <p>Agenda Escolar</p>
            </div>

            <nav>
                <a href="#">Cerrar Sesion</a>
                <a href="#">¿Que es Agenda Escolar?</a>
                <a href="#">Mi Perfil</a>
                <a href="./index-docente">Inicio</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Bienvenido Administrador</h1>
        <div id="botones-inicio">
            <a href="#">MATERIAS</a>
            <a href="#">ALUMNOS</a>
            <a href="#">DOCENTES</a>
            
        </div>
    </section>

    <a href="/">LOGIN</a>
    
</body>
</html>